<router-outlet></router-outlet>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5> ALSOLTECH</h5>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Home</a></li>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Portfolio</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </div>

                </div>
                <ul class="nav">
                    <li class="nav-item"><a href="https://www.facebook.com/AlsolTech-102593158104879" class="nav-link pl-0"><i class="fab fa-facebook fa-lg"></i></a></li>
                    <li class="nav-item"><a href="https://www.linkedin.com/company/68019635" class="nav-link"><i class="fab fa-linkedin fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fab fa-github fa-lg"></i></a></li>
                </ul>
                <br>


                    <ul class="list-unstyled">
                        <li><i class="fab fa-whatsapp"></i>&nbsp;or&nbsp;<i class="fas fa-phone"></i>&nbsp;:&nbsp;+91 90642 86385</li>
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=career@alsoltech.com&su=SUBJECT&body=BODY">
                            <li><i class="fas fa-envelope"></i>&nbsp;:&nbsp;career@alsoltech.com</li>
                        </a>
                    </ul>
            </div>

            <div class="col-md-5">
                <h5 class="text-md-left">Contact Us</h5>

                <form>
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
                    </fieldset>
                    <fieldset class="form-group text-xs-right">
                        <button type="button" class="btn btn-secondary-outline btn-lg">Send</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="text-center sub-footer">
        <p><small>&copy;Alsoltech. All Rights Reserved.</small></p>
    </div>
</footer>