<div id="parallax-world-of-ugg">

    <div class="parallax-one" >
      <div class="content" role="main" id="particle-js">
          <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"> </particles>
      </div>
     </div>

<div class="container">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>

    <div class="container2">
        <h2>Languages Used</h2>
        <button class="badge badge-pill" id="b1">HTML</button>
        <button class="badge badge-pill" id="b2">CSS</button>
        <button class="badge badge-pill" id="b3">JAVASCRIPT</button>
        <button class="badge badge-pill" id="b4">PYTHON</button>
        </div>
</div>