<main id="main">
<div id="parallax-world-of-ugg">
  <div class="parallax-one" >
    <div class="content" role="main" id="particle-js">
        <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"> </particles>
    </div>
   </div>
<section class="container" id="aboutCard">
    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up">
            <h2>Welcome to Alsoltech</h2>
            <h3>An Ultimate Destination for Academic Content Writing</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up">
            <p>
              We, Alsoltech are one of the most reliable online assignment help providers. 
              Since 2019 we have been making our clients highly satisfied. 
              You can contact us for preparing thesis paper, online exam, online tuition and
               many more services. We are always ready to help you by preparing assignments 
               related to management, law, bio technology, nursing, medical, literature review and 
               many more. Once you deal with us, you will understand the quality of our work 
               and the reasons for our increasing demand. 
            </p>
            <!-- <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
            </ul> -->
            <p class="font-italic">
              Give a chance to make your assignment, research paper, thesis paper unique.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


    <section id="skills" class="skills">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our <strong>Mission</strong></h2>
          <p>Our mission is to provide flawless prompt and excellent service to our every client. We aimed at preparing 100% exceptional content. We will not give you any chance to be disappointed once you meet us. </p>
        </div>    
      </div>
    </section>

    <section id="skills" class="skills">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our <strong>Vision</strong></h2>
          <p>The truth is being told that we want to make our clients highly satisfied with our affordably priced service. Your smile is our satisfaction, and your satisfaction is our inspiration. So, we always try to make you all extremely satisfied.</p>
        </div>    
      </div>
    </section>

    <section id="skills" class="skills" >
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our <strong>Focus</strong></h2>
          <p>Our main focus is to make each and every project plagiarism free. We make a promise to every single client that we will provide unique writings. So, as a client, you can enjoy peace of mind.</p>
        </div>    
      </div>
    </section>

    <!-- ======= Our Team Section ======= -->
    <!-- <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our <strong>Team</strong></h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="assets/images/ceo.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/images/founder1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/images/founder2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>End Our Team Section -->

    <!-- ======= Our Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our <strong>Skills</strong></h2>
          <p>We have been offering a wide range of services to our clients. 
            So, if you are a student and want to get excellent flawless assignments, 
            thesis papers, research papers, opt for us. We are always ready to help you
             out with any type of academic writing. </p><br>

           <p> Here are a few topics on which we work:</p>
        </div>

        <div class="skills-content">
        <div class="row">
          <div class="col-md-4" data-aos="fade-up">
                  <h3><strong>Information Technology</strong></h3>
                    <ul>
                  <h6><i class="fas fa-check-double"></i>&nbsp;Python</h6>
                  <h6><i class="fas fa-check-double"></i>&nbsp;Machine learning</h6>
                  <h6><i class="fas fa-check-double"></i>&nbsp;Networking</h6>
                  <h6><i class="fas fa-check-double"></i>&nbsp;Data Science</h6>
                  <h6><i class="fas fa-check-double"></i>&nbsp;Web Development</h6>
                  <h6><i class="fas fa-check-double"></i>&nbsp;Android development</h6>
                  <h6><i class="fas fa-check-double"></i>&nbsp;Matlab</h6>
                  <h6><i class="fas fa-check-double"></i>&nbsp; Deep learnin</h6>
                  <h6><i class="fas fa-check-double"></i>&nbsp;Testing</h6>
                </ul>
              </div>

              <div class="col-md-4" data-aos="fade-up">
                <h3><strong>Law</strong></h3>
                  <ul>
                <h6><i class="fas fa-check-double"></i>&nbsp;Taxation Law</h6>
                <h6><i class="fas fa-check-double"></i>&nbsp;Corporate law and others</h6>
              </ul>
            </div>

            <div class="col-md-4" data-aos="fade-up">
              <h3><strong>Literature</strong></h3>
                <ul>
              <h6><i class="fas fa-check-double"></i>&nbsp;English literature assignments and many more</h6>
            </ul>
          </div>

          <div class="col-md-4" data-aos="fade-up">
            <h3><strong>Engineering</strong></h3>
              <ul>
            <h6><i class="fas fa-check-double"></i>&nbsp;Civil Engineering</h6>
            <h6><i class="fas fa-check-double"></i>&nbsp;Electrical Engineering</h6>
            <h6><i class="fas fa-check-double"></i>&nbsp;Chemical Engineering</h6>
          </ul>
        </div>

        <div class="col-md-4" data-aos="fade-up">
          <h3><strong>Medical</strong></h3>
            <ul>
          <h6><i class="fas fa-check-double"></i>&nbsp;Nursing</h6>
          <h6><i class="fas fa-check-double"></i>&nbsp;Biotechnology</h6>
        </ul>
        </div>

      </div>


      <div class="col-md-12 pt-4" data-aos="fade-up">
        <p>
          Apart from all these, we also prepare assignments, research papers, 
          and thesis papers for Mathematics, Statistic, Economics, Calculus, Instigation 
          ETC, and Finance, Accounts, marketing and many more. If you are not getting a 
          particular project from the above list, please feel free to contact us. 
          Once you give us a chance to know your requirements we will definitely work 
          hard to satisfy you. Without compromising the quality, we will meet your requirement. 
        </p>
      </div>
          <!-- <div class="row">
          <div class="image-cropper1">
            <img src="../../assets/images/about/law.jpg" class="rounded" />
        </div>
        <div style="margin-top:25px;" data-aos="fade-left">
          <i class="fa fa-long-arrow-left arrow1" aria-hidden="true"></i>
        </div>
          <div class="image-cropper ">
            <img src="../../assets/images/about/download.jpeg" class="rounded mid"/>
        </div>
        <div style="margin-top:25px;" data-aos="fade-right">
          <i class="fa fa-long-arrow-right arrow2" aria-hidden="true"></i>
        </div>
          <div class="image-cropper1">
            <img src="../../assets/images/about/management.jpg" class="rounded" />
        </div>
      </div>
        <div  data-aos="fade-down" class="arrow3">
          <i class="fa fa-long-arrow-down " aria-hidden="true"></i>
        </div>

        <div class="image-cropper2">
          <img src="../../assets/images/about/it.jpg" class="rounded" />
      </div>-->

      </div>
    
      </div> 
    </section><!-- End Our Skills Section -->




    <!-- ======= Our Clients Section ======= -->
    <!-- <section id="clients" class="clients">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Clients</h2>
        </div>

        <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460149/abof.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460224/cropped-cropped-20170720-lucuLogo-squ2-e1500543540803.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460269/104840a62d46c05d285762857fecb61a.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460358/client-4.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460379/client-5.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460398/client-6.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460418/client-7.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="https://bootstrapmade.com/demo/themes/NewBiz/img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section>End Our Clients Section -->

  </section>

  </div>

  
  </main><!-- End #main -->