<div id="parallax-world-of-ugg">

  <div class="parallax-one" >
    <div class="content" role="main" id="particle-js">
        <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"> </particles>
    </div>
   </div>


<section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        
        <div class="container title">
        <div class="section-title text-center">
          <h2>Portfolio</h2>
          <p>Check our Portfolio</p>
        </div>

        <section id="skills" class="skills">
          <div class="container">
    
            <div class="section-title" data-aos="fade-up">
              <p>We have been offering a wide range of services to our clients. So, if you are a student and want to get excellent flawless assignments, thesis papers, research papers, opt for us. We are always ready to help you out with any type of academic writing.</p>
            </div>    
          </div>
        </section>
      </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100" >
          <div class="col-lg-12 d-flex justify-content-center" data-filter-group="type">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-engg">Engineering</li>
              <li data-filter=".filter-mgt">Management</li>
              <li data-filter=".filter-law">Law</li>
              <li data-filter=".filter-med">Medical</li>
              <li data-filter=".filter-math">Maths</li>
              <li data-filter=".filter-finance">Finance</li>
            </ul>
          </div>
        </div>

      
      
      <div class="portfolio-container" data-aos="fade-up" data-aos-delay="200">


        <!-- <div class="container col-md-10 col-lg-10 filter-engg">
          <h3>Information technology:</h3>
          <p>
            <li>Python</li>
                     <li>Machine learning</li> 
                     <li>Networking</li> 
                     <li>Data Science</li>  
                     <li>Web Development</li> 
                     <li>Android development</li> 
                     <li>Matlab</li> 
                     <li>Deep learning</li> 
                      <li>Testing</li>
          </p>

        </div> -->

      <div class="row">
        <div class="col-lg-4 col-md-4 portfolio-item filter-engg">
          <a RouterLinkActive routerLink="card2">
           <div class="portfolio-wrap">
             <img src="../../assets/images/services/cse.jpeg" class="img-fluid" alt="">
             <div class="portfolio-info">
               <h4>IT</h4>
               <p>Programming</p>
               <div class="portfolio-links">
                 <a href="../../assets/images/services/cse.jpeg" data-gall="portfolioGallery"><i class="bx bx-plus"></i></a>
               </div>
             </div>
           </div>
         </a>
         </div>

          <div class="col-lg-4 col-md-4 portfolio-item filter-engg">
            <a RouterLinkActive routerLink="card1">
            <div class="portfolio-wrap">
              <img src="../../assets/images/card1.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Quiz Application</h4>
                <p>Javascript Application</p>
                <div class="portfolio-links">
                  <a href="../../assets/images/card1.png" data-gall="portfolioGallery" ><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-4 portfolio-item filter-engg">
            <a RouterLinkActive routerLink="card2">
            <div class="portfolio-wrap">
              <img src="../../assets/images/card2.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Map Integration</h4>
                <p>Locate Firestations</p>
                <div class="portfolio-links">
                  <a href="../../assets/images/card2.png" data-gall="portfolioGallery"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
            </a>
          </div>

         <div class="col-lg-4 col-md-4 portfolio-item filter-engg">
           <a RouterLinkActive routerLink="card3">
            <div class="portfolio-wrap">
              <img src="../../assets/images/card3.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web Design</h4>
                <p>History of New-Zealand and Waitangi</p>
                <div class="portfolio-links">
                  <a href="../../assets/images/card3.png" data-gall="portfolioGallery"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </a>
          </div>
          
      </div>


<div class="row">
          <div class="col-lg-4 col-md-4 portfolio-item filter-law">
            <a RouterLinkActive routerLink="card3">
            <div class="portfolio-wrap">
              <img src="../../assets/images/services/law.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Law</h4>
                <p>Assignments</p>
                <div class="portfolio-links">
                  <a href="../../assets/images/services/law.jpeg" data-gall="portfolioGallery"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-4 portfolio-item filter-finance">
            <a RouterLinkActive routerLink="card1">
            <div class="portfolio-wrap">
              <img src="../../assets/images/services/finance.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Finance</h4>
                <p>Assignments</p>
                <div class="portfolio-links">
                  <a href="../../assets/images/services/finance.jpeg" data-gall="portfolioGallery"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
            </a>
          </div>

         <div class="col-lg-4 col-md-4 portfolio-item filter-mgt">
           <a RouterLinkActive routerLink="card2">
            <div class="portfolio-wrap">
              <img src="../../assets/images/services/finance2.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Management</h4>
                <p>Assignments</p>
                <div class="portfolio-links">
                  <a href="../../assets/images/services/finance2.jpeg" data-gall="portfolioGallery"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </a>
          </div>

          <div class="col-lg-4 col-md-4 portfolio-item filter-engg">
            <a RouterLinkActive routerLink="card2">
             <div class="portfolio-wrap">
               <img src="../../assets/images/services/mech.jpeg" class="img-fluid" alt="">
               <div class="portfolio-info">
                 <h4>Mechanical</h4>
                 <p>Engineering Assignments</p>
                 <div class="portfolio-links">
                   <a href="../../assets/images/services/mech.jpeg" data-gall="portfolioGallery"><i class="bx bx-plus"></i></a>
                 </div>
               </div>
             </div>
           </a>
           </div>


        </div>



        <div class="row">
          <div class="col-lg-4 col-md-4 portfolio-item filter-engg">
            <a RouterLinkActive routerLink="card3">
            <div class="portfolio-wrap">
              <img src="../../assets/images/services/civil.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Civil</h4>
                <p>Engineering Assignments</p>
                <div class="portfolio-links">
                  <a href="../../assets/images/services/civil.jpeg" data-gall="portfolioGallery"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-4 portfolio-item filter-med">
            <a RouterLinkActive routerLink="card1">
            <div class="portfolio-wrap">
              <img src="../../assets/images/services/nursing.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Medical</h4>
                <p>Assignments</p>
                <div class="portfolio-links">
                  <a href="../../assets/images/services/nursing.jpeg" data-gall="portfolioGallery"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
            </a>
          </div>

         <div class="col-lg-4 col-md-4 portfolio-item filter-mgt">
           <a RouterLinkActive routerLink="card2">
            <div class="portfolio-wrap">
              <img src="../../assets/images/services/mgt.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Management</h4>
                <p>Assignments</p>
                <div class="portfolio-links">
                  <a href="../../assets/images/services/mgt.jpeg" data-gall="portfolioGallery"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </a>
          </div>




        </div>

      </div>
       

      </div>
    </section><!-- End Portfolio Section -->
  
</div>


     
