
<div id="parallax-world-of-ugg">

    <div class="parallax-one" >
     <div class="content" role="main" id="particle-js">
         <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"> </particles>
         <h1 class="text-center" id="heading"><b>ALSOLTECH</b></h1>
     </div>
    </div>


   <div id="about-us" class="about-us">
   <div class="container" id="about" data-aos="fade-up">

      <div class="section-title">
        <div class="container">
        <div class="box">
        <h2>About Us</h2>
      </div>
    </div>
      </div>

      <div class="row content">
        <div class="col-lg-6 col-md-6" data-aos="zoom-in-up">
          <h2>Welcome to Alsoltech</h2>
          <h3>An Ultimate Destination for Academic Content Writing</h3>
        </div>
        <div class="col-lg-6 col-md-6" data-aos="zoom-in-up">
          <p>
            We, Alsoltech are one of the most reliable online assignment help providers.
             Since 2019 we have been making our clients highly satisfied. 
             You can contact us for preparing thesis paper, online exam, online tuition 
             and many more services. We are always ready to help you by preparing assignments 
             related to management, law, bio technology, nursing, medical, literature review
              and many more. Once you deal with us, you will understand the quality of our work 
              and the reasons for our increasing demand. 
          </p>
          <!-- <ul>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
            <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
          </ul> -->
          <p class="font-italic">
            Give a chance to make your assignment, research paper, thesis paper unique.
          </p>
        </div>
      </div>

    </div>
    <div class="text-center see-more">
    <a class="btn" type="button" RouterLinkActive routerLink="/about-us" data-aos="fade-down">See More</a>
   </div>
   </div>


   <div class="services">
   <div class="section-title">
    <div class="container">
      <div class="box">
      <h2>Our Services</h2>
      </div>
    </div>
    </div>
   <section id="services">
   <div class="block">
       <div class="row">
          <div class="col-lg-4 col-md-4 image circles" data-aos="fade-up" data-aos-delay="200">
           <div class="circle"></div>
             <img src="../../assets/images/AI-concept.jpg" alt="" class="w-100 rounded-circle">
           
            </div>
          <div class="col-lg-8 col-md-8 ml-auto">
             <p  data-aos="fade-down"><span class="first-character sc">A</span>n assignment is most important 
               for an IT student. Most students become tensed about their assignment papers. They become 
               stressed about thinking whether they can complete the task or not. Alsoltech assures every 
               IT student to enjoy peace of mind as we can help you with plagiarism free content for Python, 
               Machine learning, Networking, Data Science, Web Development, Android development, Matlab, Deep 
               learning, Testing and many more subjects. Once you meet us and have a look at our work, you 
               could not have asked for a better option. We can provide with the best writing solution 
               at a quite reasonable rate.</p>
          </div>
       </div>
    </div>

    <div class="block">
       <div class="row">
          <div class="col-md-4 order-md-4 ml-auto  order-image circles" data-aos="fade-up" data-aos-delay="200">
            <div class="circle"></div>
             <img src="../../assets/images/mgt.jpg" alt="" class="w-100 rounded-circle">
          </div>
          <div class="col-md-8 text">
             <p  data-aos="fade-down"><span class="first-character sc">A</span>t present most of the students 
               want to pursue MBA for their better career. To develop advance and flexible management skill 
               MBA is important. MBA defines the management of the business administration. Main subjects of 
               MBA are marketing management (advertising, mass communication, e-marketing, customer relationship, 
               etc), people management (human resource, career development, performance management etc.), 
               operations (inventory, project, business process management etc.), finance (ratio analysis, 
               financial management, corporate tax and etc) and many more. The major feature of business 
               administration is to bridge the gap between the behaviour of the association and the behaviour 
               of human resource. MBA students have to prepare assignments and we Alsoltech 
               assure that we can provide them with plagiarism free content for assignments.</p>
          </div>
       </div>
    </div>

    <div class="block">
       <div class="row">
          <div class="col-md-4 image circles" data-aos="fade-up" data-aos-delay="200">
            <div class="circle"></div>
             <img src="../../assets/images/law.jpg" alt="" class="w-100 rounded-circle">
          </div>
          <div class="col-md-8 ml-auto" data-aos="fade-down">
             <p><span class="first-character sc">T</span>here are different types of acts and 
               regulations and it is hard to remember all the acts for the students. Therefore they 
               become puzzled while preparing assignments. Alsoltech can help you in completing their 
               assignments at an affordable rate. For making flawless assignments on law papers like company 
               law, corporate law, business law, criminal law and many more, you can rely on us. Our 
               specialized writers can make you feel highly satisfied with their plagiarism free content.
                For preparing an assignment in-depth understanding is required. Rules and regulations 
                changes according to the places, so, profound knowledge is important. Our expert writers have vast 
               knowledge which can make your assignments excellent.</p>
             <div class="fadingEffect"></div>
          </div>
       </div>
    </div>

    <div class="block">
      <div class="row">
         <div class="col-md-4 order-md-4 ml-auto  order-image circles" data-aos="fade-up" data-aos-delay="200">
           <div class="circle"></div>
            <img src="../../assets/images/medical.jpg" alt="" class="w-100 rounded-circle">
         </div>
         <div class="col-md-8 text">
            <p  data-aos="fade-down"><span class="first-character sc">S</span>cience subjects have 
               different categories. Students from different universities usually focus on new technology 
               and mathematical calculation in the event of assignment preparation. Assignments of Medical 
               and different parts of Science, often makes students worried with rules and regulations.  
               Sometimes they end up with low grade or late submission. We Alsoltech can help you out. Our 
               qualified academic content writers can provide you with flawless, excellent writing which you 
               can submit without having any dilemma. We aimed at making plagiarism free content so; you can 
               completely count on us. For many days we have been preparing assignments for nursing, 
               Bio-Technology and many other topics. </p>
         </div>
      </div>
   </div>

   <div class="block">
      <div class="row">
         <div class="col-md-4 image circles" data-aos="fade-up" data-aos-delay="200">
           <div class="circle"></div>
            <img src="../../assets/images/engg.jpg" alt="" class="w-100 rounded-circle">
         </div>
         <div class="col-md-8 ml-auto" data-aos="fade-down">
            <p><span class="first-character sc">E</span>
               ngineering is one of the most interesting and popular studies. It requires proper 
               guidance and you will get different branches in the field of engineering such as Mechanical 
               Engineering, Civil Engineering, Electrical Engineering, Chemical Engineering, biomedical 
               engineering, software engineering and many others. For engineering assignments, papers must 
               have a referencing style.  Our expert writers can provide that referencing style. They are 
               well-experienced, knowledgeable and dedicated to their works. You will get exceptional content 
               once you meet us. We Alsoltech help students in preparing assignments on the engineering
                background by the professional academic writer from that background.</p>
            <div class="fadingEffect"></div>
         </div>
      </div>
   </div>

   <div class="block">
      <div class="row">
         <div class="col-md-4 order-md-4 ml-auto  order-image circles" data-aos="fade-up" data-aos-delay="200">
           <div class="circle"></div>
            <img src="../../assets/images/finance.jpg" alt="" class="w-100 rounded-circle">
         </div>
         <div class="col-md-8 text">
            <p  data-aos="fade-down"><span class="first-character sc">T</span>
               here are several other fields like humanity which covers human culture, lifestyle, 
               civilization, languages, religion, arts, philosophy and many more.  We can provide 
               you assignment on the customs of humanities at an affordable rate. If you are studying 
               different types of languages you can contact us. If you are a student of Philosophy, 
               literature, visual arts and performance or any other fields, contact us. Our qualified 
               academic writers will help you in preparing assignments. With vast knowledge, they have 
               been doing their work for a long time period. 
               So, don’t think twice. We feel happy to help you.</p>
         </div>
      </div>
   </div>
 </section>
 <div class="text-center see-more">
   <a class="btn" type="button" RouterLinkActive routerLink="/portfolio" data-aos="fade-down">See More</a>
  </div>
</div>
 
<div class="section-title">
   <div class="container">
   <div class="box">
<h2 class="text-center">Attractive Services</h2>
   </div>
   </div>
</div>

<div class="container" id="a-services">
   <div class="container">
      <div class="row">
         <a class="btn" data-aos="zoom-in">Desertation Service</a>
         <a class="btn" data-aos="zoom-in">Thesis Paper</a>
         <a class="btn" data-aos="zoom-in">Research Paper Writing</a>
         <a class="btn" data-aos="zoom-in">Online Exam</a>
      </div>
    </div>
</div>


<div class="section-title">
   <div class="container">
   <div class="box">
<h2 class="text-center">Our Skills in IT</h2>
   </div>
   </div>
</div>


<div class="container">

    <section class="customer-logos slider">
       <div class="slide"><img src="../../assets/images/icons/icons8-c-programming-48.png"></div>
       <div class="slide"><img src="../../assets/images/icons/icons8-angularjs-240.png"></div>
       <div class="slide"><img src="../../assets/images/icons/icons8-nodejs-48.png"></div>
       <div class="slide"><img src="../../assets/images/icons/icons8-html-5-64.png"></div>
       <div class="slide"><img src="../../assets/images/icons/icons8-java-256.png"></div>
       <div class="slide"><img src="../../assets/images/icons/icons8-php-logo-256.png"></div>
       <div class="slide"><img src="../../assets/images/icons/icons8-javascript-256.png"></div>
       <div class="slide"><img src="../../assets/images/icons/icons8-python-256.png"></div>
       <div class="slide"><img src="../../assets/images/icons/icons8-sql-256.png"></div>
    </section>
    
 </div>

<div class="section-title">
   <div class="container">
   <div class="box">
<h2 class="text-center">Why Choose Us</h2>
   </div>
   </div>
</div>

<div class="container " id="speciality">
<div class="card">
   <div class="card-body">
      <div class="row p-3">
         
            <div class="col-sm-4">
               <div class="row">
                     <img src="../../assets/images/plag2.png" alt="">
                  <div class="col-sm-8">
                     <p>You will get 100% plagiarism free content by contacting us. Besides, we concentrate on quality as well.</p>
                  </div>
               </div>
            </div> 
          <div class="col-sm-4">
            <div class="row">
            <img src="../../assets/images/24-7.png" alt="">
            <div class="col-sm-8">
               <p>You can contact us anytime you want. We are available round the clock.</p>
            </div>
         </div>
         </div>
         
         <div class="col-sm-4">
            <div class="row">
            <img src="../../assets/images/expert.png" alt="" >
            <div class="col-sm-8">
               <p>We possess knowledgeable writers who have obtained PhD degree.</p>
            </div>
         </div>
         </div>      
      </div>
    

      <div class="row p-3">
         <div class="col-sm-4">
            <div class="row">
            <img src="../../assets/images/qa1.png" alt="" >
            <div class="col-sm-8">
               <p>You will get 100% plagiarism free content by contacting us. Besides, we concentrate on quality as well.</p>
            </div>
         </div>
         </div>
         <div class="col-sm-4">
            <div class="row">
            <img src="../../assets/images/pricing.png" alt="" >
            <div class="col-sm-8">
               <p>We always keep our price reasonable to serve our every client. </p>
            </div>
         </div>
         </div>      
      </div>

   </div>
   </div>
</div>



</div> 